/* *{
    background-color: rgb(9, 51, 51);
}
.tr,td{
    border: 2px solid black;
    margin: 50px;
    border-spacing: 10px;
}
/* .tr2{
    padding: 10px;
} */
/* td{
    border-radius: 20px;
    text-align: justify;
    padding: 5px;
    margin: 20px;    
} */ 
/* .description {  
      min-width: 450px; 
      max-width: 650px; 
      text-align: left;  
      padding: 5px;  
      margin: 20px;
} */
/* p{
    background-color: red;
    text-align: justify;
    min-width: 50%;
    min-height: 100px;
    overflow: scroll;
} */
/* *{
    background-color: cyan;
} */
/* .main {
    background-color: blue;
    width: 50%;
    height: 100px;
    

}
.table{
    border: 2px solid black;
    min-width: 300px;
    max-width: 700px;
    background-color: brown;
    min-height: 400px;
    max-height: 800px;
}
img{
    height: 50px;
    width: 100px;
}
/* tr{
    border: 2px solid black;
} */
/* td{
    border: 5px dotted gray;
    border-radius: 5px;
} */ 
/* .para{
    width: 50%;
    line-height: 1.2em;
    overflow-x: scroll;
    
}
p{
    line-height: 1.2em;
} */

*{
    background-color: cyan;
}
.main{
    border: 2px solid rgb(1, 1, 1);
    padding: 10px;
    width: 20% ;
    margin: 10px auto;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: yellow;
    box-shadow: -3px 4px 34px -3px rgba(255, 0, 0, 0.68);
    text-align: justify;

}
body{
    margin: 0px;
    text-align: center;
}
li{
    display: inline-block;
    text-decoration: none;
    margin: 20px;

}
a{
    text-decoration: none;
}
.gallery{
    visibility: ;
}
